
* {
  /* margin: 0; */
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: #fff;
}

:root {
  --primary-bg: #09090B;
  --secondary-bg: #141319;
  --tertiary-bg: #17171C;
}

.sp-text {
  background-image: conic-gradient(at top, #c084fc, #a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.icon{
  padding: 15px;
  font-size: 20px;
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  cursor: pointer;
}
